/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
  --bg-color-black-1: #111;

  --bg-color-gray-1: #1c1c1c;
  --bg-color-gray-2: #242524;


  --color-primary: #80deea;
}
